@import "../../global.scss";

.skill {
    background-color: white;
}
.sc {
    padding: 50px;
    top: 3px;
    color: $mainColor;
    transition: all 1s ease;


    h2 {
        font-weight: 300;
        font-size: 38px;
    }

    li {
        margin-top: 10px;
        font-size: 18px;
    }
}
