.intro {
    background-color: lightcoral;
    display: flex;

    .left {
        flex: 0.5;

        .itemContainer {
            width: 700px;
            height: 700px;
            img {
                height: 100%;
            }
        }
    }
}
